[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ShapleyOutlier"]
	path = ShapleyOutlier
	url = https://github.com/cran/ShapleyOutlier
[submodule "robustmatrix"]
	path = robustmatrix
	url = https://github.com/cran/robustmatrix
